<%- include("partials/header.ejs") %>




    <section class="header-front">
        <div class="container">
            <div class="py-4 mb-4 text-body-emphasis">
                <div class="col-lg-12 first-title-section">
                    <div class="text-content">
                        <img class="blog-img float-lg-end ms-lg-3" src="extras/fv5.png" alt="Fruits and Vegetables">
                        <h1 class="display-4 fst-italic heading-text">Discover the Health Benefits of Fruits and
                            Vegetables</h1>
                        <p class="lead my-3 col-lg-6">Explore the incredible health benefits that fruits and
                            vegetables bring to your diet. From boosting your immune system to providing essential
                            vitamins and minerals. Dive into our articles to learn more about the unique properties
                            of different produce, delicious recipes, and the science-backed benefits of embracing a
                            plant-rich diet.</p>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm fixed-card-size position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary-emphasis">Nutrition</strong>
                            <h3 class="mb-0">Benefits of Eating Seasonal Fruits</h3>
                            <div class="mb-1 text-body-secondary">July 29</div>
                            <p class="card-text mb-auto">Eating seasonal fruits not only enhances flavor but also
                                ensures you get the freshest nutrients. Discover the benefits of seasonal eating and
                                how it supports local farmers.</p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img class="fixed-size-img pt-5" src="extras/fruit1.png" alt="Seasonal Fruits">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm fixed-card-size position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success-emphasis">Recipes</strong>
                            <h3 class="mb-0">Top 5 Vegetable for Healthy Start</h3>
                            <div class="mb-1 text-body-secondary">July 28</div>
                            <p class="card-text mb-auto">Kickstart your day with these delicious and nutritious
                                vegetable smoothies. Packed with vitamins and minerals, these recipes are perfect
                                for a healthy breakfast or snack.</p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img class="fixed-size-img" src="extras/fv2.png" alt="Vegetable Smoothies">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing">
        <div class="container">
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Pricing</h1>
                <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential
                    customers with this Bootstrap example. It’s built with default Bootstrap components and
                    utilities with little customization.</p>
            </div>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Free</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$0<small
                                    class="text-body-secondary fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>10 users included</li>
                                <li>2 GB of storage</li>
                                <li>Email support</li>
                                <li>Help center access</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-success">Sign up for free</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Pro</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$15<small
                                    class="text-body-success fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>20 users included</li>
                                <li>10 GB of storage</li>
                                <li>Priority email support</li>
                                <li>Help center access</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-success">Get started</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-success">
                        <div class="card-header py-3 text-bg-success border-success">
                            <h4 class="my-0 fw-normal">Enterprise</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$29<small
                                    class="text-body-success fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>30 users included</li>
                                <li>15 GB of storage</li>
                                <li>Phone and email support</li>
                                <li>Help center access</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-success">Contact us</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>


<%- include("partials/footer.ejs") %>